html,
body {
  padding: 0;
  margin: 0;
  font-family: DM Sans,sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: royalblue;
    
  }
}

.send-post:hover{
  color: #829ffd;
}